.fullscreen_link {
    box-sizing: border-box;
    display: block;
    background: #040408;
    color: #fff;
    width: 20em;
    float: right;
    text-align: center;
    padding: 0.3em 0.5em;
    clip-path: polygon(
        0% 5em,
        5em 0%,
        calc(100% - 5em) 0%,
        100% 5em,
        100% 100%,
        0% 100%
    );
    margin-bottom: -2px;
}
.fullscreen_link > span {
    padding-left: 1em;
    padding-right: 0.3em;
}
button.fullscreen_link {
    border: 0;
    font-size: medium;
    /* padding: 0; */
}

.embed {
    /* position: absolute; */
    width: 90vw;
    margin-left: calc(50% - 45vw);
    height: calc(100vh - 14em);
}
