# source: https://docusaurus.io/docs/deployment#triggering-deployment-with-github-actions
name: Test deployment

on:
    pull_request:
        branches:
            - main
        # Review gh actions docs if you want to further define triggers, paths, etc
        # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
    test-deploy:
        name: Test deployment
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: Install pnpm
              uses: pnpm/action-setup@v4
            - uses: actions/setup-node@v6
              with:
                  node-version: 20
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install
            - name: Test build website
              run: pnpm run build